/* ----- Navigation ----- */

.menu {
	display: flex;
	@include justify-content( space-between );
	@include align-items( center );
	background: $colr-b3;
	padding: $dist-m; }

.menu img {
	height: 40px;
	margin-right: auto; }

.menu li {
	height: 100%;
	margin-right: $dist-l; }

.menu li:hover {
	background: $colr-b2; }