/* ----- Colors ----- */

$colr-a1: #00cd7f;
$colr-a2: #0096ff;

$colr-a1-s1: #00a767;

$colr-b1: #333;
$colr-b2: #ccc;
$colr-b3: #efefef;
$colr-b4: #fafafa;

*, h1, h2, h3, h4, h5, h6, p, a, span { color: $colr-b1; }