/* ----- Navigation ----- */

.menu {
	@include display( flex );
	@include align-items( center );
	background: #fff;
	border-bottom: 1px solid $colr-b3; }

.menu--main {
	@include justify-content( space-between );
	padding: $dist-m;
	padding-right: 0; }

.menu--main img {
	height: 40px;
	margin-right: auto; }

.menu--main li a {
	border-left: 1px solid $colr-b3;
	padding: 26px; }

.menu--main li a:hover {
	background: $colr-b1;
	color: $colr-b3; }

.menu--main__random {
	z-index: 1000;
	position: fixed;
	bottom: $dist-l;
	right: 0;
	color: $colr-b4;
	text-align: center;
	background: $colr-b1;
	padding: $dist-m;
	transition: padding-right 0.3s ease-out; }

.menu--main__random:hover { padding-right: $dist-l; }

// ----- MQ ----- //
@media ( min-width: 769px ) {

.menu--main {
	position: fixed;
	@include justify-content( flex-start );
	@include flex-direction( column );
	@include align-items( flex-end );
	height: 100%;
	width: 120px;
	padding: 0;
	margin-right: $dist-l;
	border-right: 1px solid $colr-b3; }

.menu--main img {
	height: 56px;
	padding: $dist-m;
	margin-right: 0; }

.menu--main li a {
	@include display( block );
	width: 112px - $dist-m - $dist-m;
	border-left: none;
	border-top: 1px solid $colr-b3;
	text-align: right; }



}