/* ----- Piece: Web ----- */

.piece__pic-web--big {
	width: 100%; }

.piece__pic-web--medium {
	clear: left;
	width: 70%; }

.piece__pic-web--small {
	clear: left;
	width: 30%; }

.piece__pic-web--big li img,
.piece__pic-web--medium li img,
.piece__pic-web--small li img {
	width: 100%; }

// ----- MQ ----- //
@media ( min-width: 769px ) {

	.piece__pic-web--big {
		float: left;
		width: 68%;
		margin-right: 2%; }

	.piece__pic-web--medium {
		clear: none;
		float: left;
		width: 19%;
		margin-right: 2%; }

	.piece__pic-web--small {
		clear: none;
		float: left;
		width: 9%; }

}