$fa-font-path: "fonts/fontawesome" !default;

// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/fontawesome/scss/font-awesome.scss";
// endbower

/* ----- Partials ----- */

// A - Settings: Variabler (Sass)
@import "a.colors";
@import "a.distances";
@import "a.fontsizes";

// B - Tools: Mixins + funktioner (Sass)
@import "b.mixins";

// C - Generic: Resets + globale styles
@import "c.resets";
@import "c.globals";

// D - Elements: Html-elementer u. classes
@import "d.type";
@import "d.lists";
@import "d.grid";

// E - Objects: Dele af siden
@import "e.nav"; // Menu: Main
@import "e.nav-categ"; // Menu: Kategorier
@import "e.index"; // 'Vælg kategori'-startside
@import "e.archive"; // Portfolio
@import "e.single"; // Portfolio værker
@import "e.page"; // Me + The Money

// F - Components: Specifikke dele af elementer

// G - Trumps: Clearfix o.l.

/* ----- Main ----- */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

html {
	background: $colr-b4;
  overflow-x: hidden; }

body { height: 100%; }

