/* ----- Animations ----- */

@include keyframes( breathlike-move-x ) {
	0% { @include transform( translate3d( 0px, 0, 0 ) ); }
	25% { @include transform( translate3d( -4px, 0, 0 ) ); }
	50% { @include transform( translate3d( 0px, 0, 0 ) ); }
	75% { @include transform( translate3d( 4px, 0, 0 ) ); }
	100% { @include transform( translate3d( 0px, 0, 0 ) ); }
}

@include keyframes( breathlike-move-z ) {
	0% { @include transform( translate3d( 0, 0, 0 ) ); }
	25% { @include transform( translate3d( 0, 0, -100px ) ); }
	50% { @include transform( translate3d( 0, 0, 0 ) ); }
	75% { @include transform( translate3d( 0, 0, 100px ) ); }
	100% { @include transform( translate3d( 0, 0, 0 ) ); }
}

@include keyframes( bgfade ) {
	0% { background: #fff; }
	50% { background: $colr-a1; }
	100% { background: #fff; }
}

@include keyframes( fontsize ) {
	0% { font-size: 1em; }
	50% { font-size: 1.1em; }
	100% { font-size: 1em; }
}

@include keyframes( colorfade ) {
	0% { color: $colr-b1; }
	50% { color: #fff; }
	100% { color: $colr-b1; }
}

@include keyframes( scale ) {
	0% { @include transform( scale( 1 ) ); }
	50% { @include transform( scale( 1.05 ) ); }
	100% { @include transform( scale( 1 ) ); }
}

@include keyframes( border-breathe ) {
	0% { border-bottom-color: $colr-b1; }
	50% { border-bottom-color: #fff; }
	100% { border-bottom-color: $colr-b1; }
}

@include keyframes( box-shadow ) {
	0% { box-shadow: inset 0px 1px 1px 0px rgba( 0,0,0,0.1 ); }
	50% { box-shadow: inset 0px 1px 1px 0px rgba( 0,0,0,0.25 ); }
	100% { box-shadow: inset 0px 1px 1px 0px rgba( 0,0,0,0.1 ); }
}

@include keyframes( padding-lef-rig ) {
	0% { 	@include pad-lef-rig( $dist-m ); }
	50% { 	@include pad-lef-rig( $dist-l ); }
	100% { 	@include pad-lef-rig( $dist-m ); }
}