/* ----- Globals ----- */

section {
	@include pad-top-bot( $dist-l );
	@include pad-lef-rig( $dist-l );  }

a { text-decoration: none; }

iframe {
	border: none;
	width: 100%;
}

// Scrollbars
::-webkit-scrollbar {
  width: 6px;
  height: 2px; }
::-webkit-scrollbar-thumb { background-color: $colr-b1; }
::-webkit-scrollbar-track { background-color: $colr-b4; }
body { scrollbar-face-color: $colr-b4; } // IE

// ----- MQ ----- //
$section-bp1: 660px;

@media ( min-width: $section-bp1 ) {

	section {
		@include pad-top-bot( $dist-xl - $dist-m );
		@include pad-lef-rig( $dist-xl ); }

}

@media ( min-width: 769px ) {

		section { margin-left: 56px; } // Compensation for menu--main placed in left side

}