/* ----- Portfolio ----- */

$card-bord-rad: 2px;

.cards {
  @include column-gap( 0 );
  @include column-count( 1 ); }

.card {
	display: inline-block;
	position: relative;
	@include mar-lef-rig( $dist-m );
	margin-bottom: $dist-l;
	padding: $dist-l;
	background: #fff;
	border-radius: $card-bord-rad;
	border: 1px solid $colr-b3;
	@include column-break-inside( avoid );
	transition: all 0.2s ease-out; }

.card h2 { margin-bottom: $dist-s; }

.card:hover {
	cursor: pointer;
	box-shadow: 2px 8px 32px 0px rgba( 0,0,0,0.1 ); }

$image-height: 200px;

.card__image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: $image-height;
	overflow: hidden;
	@include border-top-radius( $card-bord-rad ); }

.card__image img {
	width: 100%;
	height: auto; }

.card__meta-wrap { margin-top: $image-height; }

// ----- MQ ----- //

@media ( max-width: $section-bp1 ) {

	.cards { @include pad-lef-rig( $dist-l - $dist-m ); }

}

@media ( min-width: $section-bp1 ) and ( max-width: 1201px ) { // Sat i _c.globals.scss

	.cards { @include column-count( 2 ); }

}

@media ( min-width: 1201px ) and ( max-width: 1481px ) {

	.cards { @include column-count( 3 ); }

}

@media ( min-width: 1481px ) {

	.cards { @include column-count( 4 ); }

}