/* ----- Introduktion ----- */

.intro-bg {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url( 'images/test.png' );
	background-size: cover;
	@include blur( 20px ); }

.piece-cats { // Counter c.globals style of section
	@include pad-top-bot( 0 );
	// @include pad-lef-rig( 0 );
}

.piece-cat {
	float: left;
	background: #fff;
	@include pad-top-bot( $dist-m + $dist-s );
	@include pad-lef-rig( $dist-l + $dist-s );
	transition: all 0.2s ease-out; }

.piece-cat:hover {
	z-index: 1;
	transform: scale( 1.02 );
	box-shadow: 2px 2px 16px 1px rgba( 0,0,0,0.15 ); }

// ----- MQ ----- //
@media ( min-width: 696px ) {

	.piece-cat {
		@include pad-top-bot( $dist-l );
		@include pad-lef-rig( $dist-xl ); }

}