/* ----- Navigation: Categories ----- */

.menu--categ {
	opacity: 0;
	overflow-x: auto;
	background: #fff;
	@include justify-content( flex-start ); }

.menu--categ li { @include pad-top-bot( $dist-s ); }

.menu--categ li a {
	white-space: nowrap;
	padding: 9px;
	@include pad-lef-rig( $dist-m );
	transition: all 0.1s ease-in; }

.menu--categ li a:hover {
	cursor: pointer;
	background: $colr-b1;
	color: #fff; }

li.menu--categ__item-active { font-weight: 700; }

.menu--categ__random {
	margin-left: $dist-m;
	border-left: 1px solid $colr-b3; }

// ----- MQ ----- //
@media ( min-width: 660px ) {

		.menu--categ { @include justify-content( center ); }

}

@media ( min-width: 769px ) {

		.menu--categ { margin-left: 56px; } // Mainmenu width + 1 (border)

}