/* ----- Navigation: Categories ----- */

.menu--categ {
	opacity: 0;
	overflow-x: auto;
	@include justify-content( flex-start ); }

.menu--categ li { @include pad-top-bot( $dist-s ); }

.menu--categ li a {
	white-space: nowrap;
	padding: 9px;
	@include pad-lef-rig( $dist-m );
	transition: all 0.15s ease-in; }

.menu--categ li:hover { z-index: 1; }

.menu--categ li a:hover {
	box-shadow: 0px 0px 16px 0px rgba( 0,0,0,0.15 );
	background: #fff; }

.menu--categ .current-menu-item a {
	background: $colr-b4;
	box-shadow: inset 0px 1px 1px 0px rgba( 0,0,0,0.1 ); }

// ----- MQ ----- //
@media ( min-width: 769px ) {

		.menu--categ {
			@include border-right-radius( 4px );
			border-top-right-radius: 0;
			width: 628px;
			@include pad-lef-rig( 16px );
			margin-left: 56px; } // Mainmenu width + 1 (border)

}