/* ----- Me ----- */

.skillwheel__wrap {
	position: relative;
	width: 720px;
	margin-top: -240px;
	margin-left: -240px;
	margin-bottom: $dist-xl; }

.skillwheel__wrap--counter-rotate {
	animation: skillwheel-rotate 5s infinite linear;
	animation-direction: reverse;
	animation-play-state: running; }
.skillwheel__wrap--counter-rotate:hover { animation-play-state: paused; }
.skillwheel__wrap--counter-rotate:active { animation-play-state: paused; }

.skillwheel { animation: skillwheel-rotate 4s infinite linear; }

.me__face {
	position: absolute;
	left: 320px;
	top: 300px;
	width: 80px; }

.me__face--running {
	left: 332px;
	display: none; }

.man__stick {
	position: absolute;
	left: 254px;
	top: 250px;
	width: 230px;
	z-index: -1; }

.man__stick--running { display: none; }

@keyframes skillwheel-rotate {
	100% { transform: rotate(360deg); } }