/* ----- Introduktion ----- */

// Wrap .intro-bg to avoid scroll by cutting of the extra space made around .intro-bg to let blurry edges stretch beyond window width/height
.intro-bg-wrap {
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 1000px;
	overflow: hidden; }

.intro-bg {
	position: absolute;
	z-index: -1;
	width: calc( 100% + 64px ); // Compensation for minus position below to avoid faded out edges
	height: calc( 100% + 64px ); // Compensation for minus position below to avoid faded out edges
	top: -32px;
	left: -32px;
	// background-image: url( 'images/showbg1.png' );
	background-size: cover;
	@include blur( 40px ); }

.piece-cats { // Counter c.globals style of section
	@include pad-top-bot( 0 );
	// @include pad-lef-rig( 0 );
}

.piece-cats ul li a {
	@extend h1;
	white-space: nowrap;
	float: left;
	background: #fff;
	@include pad-top-bot( $dist-m + $dist-s );
	@include pad-lef-rig( $dist-l + $dist-s );
	transition: all 0.2s ease-out; }

.piece-cats ul li:last-child a {
	@include border-right-radius( 8px );
	border-top-right-radius: 0; }

.piece-cats ul li a:hover {
	z-index: 100;
	@include transform( scale( 1.02 ) );
	box-shadow: 0px 2px 32px 0px rgba( 0,0,0,0.15 ); }

// ----- MQ ----- //
@media ( min-width: 696px ) {

	.piece-cats ul li a {
		@include pad-top-bot( $dist-l );
		@include pad-lef-rig( $dist-xl ); }

}

@media ( min-width: 769px ) {

	.intro-bg {
		width: calc( 100% + 96px); // Compensation for minus position above
 	}
}